html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack items vertically */
  text-align: center;
}


h1,
h2 {
  text-align: center;
}

#event-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#event-form input,
#event-form label,
#event-form button {
  font-size: 1rem;
  padding: 5px;
}


#calendar-container {
  border: 1px solid #ccc;
  min-height: 200px;
}

.top-buttons button {
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}